<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
<mapper namespace="com.finance.dao.XlQuestionDao">
-->
<mapper namespace="com.finance.dao.TitleDao">
 	<!-- get XlQuestion list only-->
    <resultMap type="com.finance.entity.XlQuestion" id="TitleResult">
		<id property="id" column="id" javaType="java.lang.Integer"/>
		<result property="quesNum" column="question_num" javaType="java.lang.Integer"/>
		<result property="questionContent" column="question_content" javaType="java.lang.String"/>
		<result property="quesType" column="ques_type" javaType="java.lang.String"/>
		<result property="goodId" column="goodId" javaType="java.lang.String"/>
		
		<!-- 一对多关系 -->
		<!-- <collection property="xlanswerList" column="questionId" ofType="com.finance.entity.XlAnswer" >
             <id property="id" column="id" javaType="java.lang.Integer"></id>
             <result property="ansNum" column="answer_num" javaType="java.lang.Integer"></result>
             <result property="ansContent" column="answer_content" javaType="java.lang.String"></result>
             <result property="answerScore" column="answer_score"  javaType="java.lang.Integer"></result>
        </collection> -->
	</resultMap>
	
</mapper> 	