<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.dao.XlQuestionDao">
    <resultMap type="XlQuestion" id="XlQuestionResult">
		<result property="id" column="id"/>
		<result property="titlename" column="titlename"/>
		<result property="answer" column="answer"/>
	</resultMap>
	<!--  
    <select id="getDatadicIncome" resultType="Datadic">
 		select * from t_datadic where datadicname="收入类型"
 	</select>
 	<select id="getDatadicPay" resultType="Datadic">
 		select * from t_datadic where datadicname="支出类型"
 	</select>
 	
 	<select id="getDatadicSecurity" resultType="Datadic">
 		select * from t_datadic where datadicname="证券类型"
 	</select>
 	<select id="getDatadicTrade" resultType="Datadic">
 		select * from t_datadic where datadicname="证券流水账类型"
 	</select>
 	
 	<select id="getDatadicname" resultType="Datadic">
 		select distinct(datadicname) from t_datadic
 	</select>
 	-->
 	<select id="findXlQuestion" parameterType="Map" resultMap="XlQuestionResult">
		select * from xl_question
		<where>
		    <if test="question_content!=null and question_content!='' ">
				question_content=#{question_content}
			</if>
			<if test="answer!=null and answer!='' ">
				and answer like #{answer}
			</if>
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
    <select id="getTotalXlQuestion" parameterType="Map" resultType="Long">
		select count(*) from xl_question
		<where>
		    <if test="question_content!=null and question_content!='' ">
				question_content=#{question_content}
			</if>
			<if test="optionvalue!=null and optoinvalue!='' ">
				and optionvalue like #{optionvalue}
			</if>
		</where>
	</select>
	
    <insert id="addXlQuestion" parameterType="XlQuestion">
		insert into xl_question values(null,#{titlename},#{optionvalue});
	</insert>
	
    <update id="updateXlQuestion" parameterType="XlQuestion" >
		update t_title
		<set>
			<if test="titlename!=null and titlename!='' ">
				titlename=#{titlename},
			</if>
			<if test="datadicvalue!=null and datadicvalue!='' ">
				optionvalue=#{optionvalue}
			</if>
		</set>
		where id=#{id}
	</update>
	
    <delete id="deleteXlQuestion" parameterType="Integer">
	    delete from xl_question where id=#{id};
	</delete>

</mapper> 	