<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.dao.XlOrderDao">
	<resultMap type="XlOrder" id="orderMap">
		<id property="id" column="aid" />
		<result property="orderNo" column="aorder_no" />
		<result property="time" column="atime" />
		<result property="flag" column="aflag" />
		<result property="money" column="amoney" />
		<result property="vipId" column="avipId" />
		<result property="goodId" column="agoodId" />
		<result property="orderNum" column="aorderNum"/>
		<result property="claimNum" column="aclaimNum"/>
		<result property="commentId" column="acommentId" />
		<association property="good" javaType="XlGood" >
			<result property="tittle" column="gtittle" />
			<result property="subtittle" column="gsubtittle" />
		</association>
		<collection property="orderSend" javaType="java.util.List" ofType="XlOrderSend">  		  
			<result property="id" column="sid" />
			<result property="orderNo" column="sorder_no" />
			<result property="time" column="stime" />
			<result property="money" column="smoney" />
		<!-- 	<result property="order_num" column="sorder_num" /> -->
			<result property="fromUser" column="sfrom_user" />
			<result property="toUser" column="sto_user" />	
			<result property="isClaim" column="sis_claim" />
			<association property="vip" javaType="XlVip" >
				<result property="openId" column="vopenId" />
				<result property="nickName" column="vnickName" />
			</association>
		</collection>  	
	</resultMap>
	<select id="findOrderSendByVipId" parameterType="Map" resultMap="orderMap">
		select a.id aid,a.order_no aorder_no,a.time atime,a.flag aflag,a.money amoney,a.vipId avipId,a.goodId agoodId,a.commentId acommentId,s.id sid, s.order_no sorder_no, s.time stime, s.money smoney, s.goodId sgoodId, s.from_user sfrom_user,v.openId vopenId,v.nickName vnickName, s.to_user sto_user,s.is_claim sis_claim,a.gtittle,a.gsubtittle,a.claim_num aclaimNum,a.order_num aorderNum from (
			select o.*,g.tittle gtittle,g.subtittle gsubtittle from xl_order o inner join xl_good g on o.goodId=g.id
			<where>
		       o.vipId=#{vipId}
			</where> 
			order by o.time desc limit #{limitStart},#{limitLength}
		) a 
		left join xl_order_send s 
		on a.order_no=s.order_no and a.vipId=s.from_user inner join xl_vip v on s.to_user=v.id 
	</select>
	
	<select id="sumOrderMoneyByVipId" resultType="java.lang.Double">  
		 select COALESCE(sum(Money),0) from xl_order o
		 <where>
		 	o.vipId=#{vipId}
		 </where>  
  	</select>  
  	<select id="findByOrderNo"  parameterType="Map" resultMap="orderMap">  
		 select a.claim_num aclaimNum,a.order_num aorderNum,a.id aid,a.order_no aorder_no,a.time atime,a.flag aflag,a.money amoney,a.vipId avipId,a.goodId agoodId,a.commentId acommentId from xl_order a
		 <where>
		 	a.order_no=#{orderNo}
		 </where>  
  	</select>  
  	
  	<select id="findByOrderNoAndVipId"  parameterType="Map" resultMap="orderMap">  
		 select a.claim_num aclaimNum,a.order_num aorderNum,a.id aid,a.order_no aorder_no,a.time atime,a.flag aflag,a.money amoney,a.vipId avipId,a.goodId agoodId,a.commentId acommentId from xl_order a
		 <where>
		 	a.order_no=#{orderNo} and a.vipId=#{vipId}
		 </where>  
  	</select>  
  	
  	<update id="updateStatusByOrderNo" parameterType="Map">  
		 update xl_order set flag=#{flag} 
		 <where>
		 	order_no=#{orderNo}
		 </where>  
  	</update>  
  	 <insert id="insertXlOrder" parameterType="XlOrder" >
       <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      </selectKey>
        INSERT INTO xl_order (order_no, time, flag, money, vipId, goodId, commentId, order_num, claim_num) VALUES (#{orderNo}, #{time}, #{flag}, #{money}, #{vipId}, #{goodId}, #{commentId}, #{orderNum}, #{claimNum})
    </insert>
    
    
     <update id="updateOne"  parameterType="XlOrder">
 		UPDATE xl_order
		 <trim prefix="set" suffixOverrides=",">
		  <if test="orderNo!=null">order_no=#{orderNo},</if>
		  <if test="time!=null">time=#{time},</if>
		  <if test="flag!=null">flag=#{flag},</if>
		  <if test="money!=null">money=#{money},</if>
		  <if test="goodId!=null">goodId=#{goodId},</if>
		  <if test="vipId!=null">vipId=#{vipId},</if>
		  <if test="commentId!=null">commentId=#{commentId},</if>
		  <if test="orderNum!=null">order_num=#{orderNum},</if>
		  <if test="claimNum!=null">claim_num=#{claimNum},</if>
		 </trim>
 		WHERE id=#{id}
	</update>   
</mapper>