<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finance.dao.XlQuestionDao">
 	<!-- get XlQuestion list only-->
    <resultMap type="com.finance.entity.XlQuestion" id="XlQuestionResult">
		<id property="id" column="id" javaType="java.lang.Integer"/>
		<result property="quesNum" column="question_num" javaType="java.lang.Integer"/>
		<result property="quesContent" column="question_content" javaType="java.lang.String"/>
		<result property="quesType" column="ques_type" javaType="java.lang.String"/>
		<result property="goodId" column="goodId" javaType="java.lang.Integer"/>
		
		<!-- 一对多关系 -->
	   <!--  <collection property="xlanswerList"  ofType="com.finance.entity.XlAnswer"  columnPrefix="ANNEX_">
             <id property="id" column="id" javaType="java.lang.Integer"></id>
             <result property="ansNum" column="answer_num" javaType="java.lang.String"></result>
             <result property="ansContent" column="answer_content" javaType="java.lang.String"></result>
             <result property="answerScore" column="answer_score"  javaType="java.lang.Integer"></result>
        </collection>  -->
	</resultMap>
	<!-- <select id="findQuestionByGoodId" parameterType="Map" resultMap="XlQuestionResult">
	select q.*,a.* from xl_question q,xl_answer a 
	where a.questionId=q.id and q.goodId=#{goodId}
	</select> --> 

 	
 	<!-- get XlQuestion list with XlAnswer-->
 	<resultMap type="com.finance.entity.XlQuestion" id="XlQuestionXlAnswerResult" extends="XlQuestionResult">
        <collection property="xlanswerList"  ofType="com.finance.entity.XlAnswer" columnPrefix="annex_">
             <id property="id" column="id" javaType="java.lang.Integer"/>
             <result property="ansNum" column="answer_num" javaType="java.lang.String"/>
             <result property="ansContent" column="answer_content" javaType="java.lang.String"/>
             <result property="answerScore" column="answer_score"  javaType="java.lang.Integer"/>
             <result property="quesId" column="questionId" javaType="java.lang.Integer"/>
             <result property="nextQuestionId" column="next_quesionId" javaType="java.lang.Integer"/>
        </collection>
	</resultMap> 
	<select id="findQuestionByGoodId" parameterType="Map" resultMap="XlQuestionXlAnswerResult">
       select q.*,
       a.id annex_id,
       a.answer_num annex_answer_num,
       a.answer_content annex_answer_content,
       a.questionId annex_questionId,
       a.next_quesionId annex_next_quesionId,
       a.answer_score annex_answer_score
       from xl_question q,xl_answer a 
	   where a.questionId=q.id and q.goodId=#{goodId}
	</select>
	
 	<!-- 单表查询，查询所有题目 -->
 	<select id="findXlQuestion" resultMap="XlQuestionResult">
		select * from xl_question;
	</select>
	<!-- 一对多查询，查询所有题目与答案 -->
	 <!-- 	<select id="findXlQuestionAndXlAnswer" parameterType="int" resultMap="XlQuestionXlAnswerResult">
		select q.*,a.* from xl_question q,xl_answer a where q.questionId=a.questionId; 
		

</select> -->
</mapper> 	