<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.dao.XlVoucherDao">
    <resultMap type="XlVoucher" id="XlVoucherResult">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="price" column="price"/>
		<result property="flag" column="flag"/>
		<result property="type" column="type"/>
		<result property="validate" column="validate"/>
		<result property="voNum" column="vo_num"/>
		<result property="goodId" column="goodId"/>
		<result property="goodname" column="tittle"/>
		<result property="stipulatePrice" column="stipulate_price"/>
		<result property="createuser" column="create_user"/>
		<result property="updateuser" column="update_user"/>
	</resultMap>
	
    <select id="getAllXlVouchers" parameterType="Map" resultType="XlVoucher">
 		select * from xl_voucher a,xl_good b
 		<where>
 		 				a.goodId = b.id 
 		     <if test="createuser!=null and createuser!='' and createuser != 'admin' ">
                   and a.create_user = #{createuser}
 		     </if>
 		</where>
 	</select>
 	
    <select id="findXlVoucher" parameterType="Map" resultMap="XlVoucherResult">
		select a.id,a.name,a.price,a.flag,a.type,a.validate,a.vo_num,a.goodId,b.tittle,a.stipulate_price,a.create_user,a.update_user from xl_voucher a,xl_good b
		<where>
		    <!--  
		    <if test="name!=null and name!='' ">
				name like #{name}
			</if>
			-->
			a.goodId=b.id
		<if test="name!=null and name!='' ">
				and a.name like #{name}
		</if>
		<if test="price!=null and price!='' ">
				and a.price = #{price}
		</if>
		<if test="flag!=null and flag!='' ">
				and a.flag = #{flag}
		</if>
		<if test="type!=null and type!='' ">
				and a.type = #{type}
		</if>
		<if test="validate!=null and validate!='' ">
				and a.validate = #{validate}
		</if>
		<if test="voNum!=null and voNum!='' ">
				and a.vo_num = #{voNum}
		</if>
		<if test="goodId!=null and goodId!='' ">
				and a.goodId = #{goodId}
		</if>
		<if test="stipulatePrice!=null and stipulatePrice!='' ">
				and a.stipulate_price = #{stipulatePrice}
		</if>
		<if test="createuser!=null and createuser!='' and createuser != 'admin' ">
				and a.create_user = #{createuser}
		</if>
		<if test="updateuser!=null and updateuser!='' ">
				and a.update_user = #{updateuser}
		</if>
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
    <select id="getTotalXlVoucher"  resultType="Long">
		select count(*) from xl_voucher a,xl_good b
		<where>		  
		a.goodId = b.id  
		<if test="createuser!=null and createuser!='' and createuser != 'admin' ">
		and a.create_user = #{createuser}
		</if>
		<!--  
		    <if test="name!=null and name!='' ">
				name like #{name}
			</if>-->
		</where>
	</select>
	
	
	<select id="getXlVoucherIsExists" parameterType="XlVoucher" resultType="Long">
		select count(1) from xl_voucher
		<where>
		    <if test="name!=null and name!='' ">
				 name = #{name}
			</if>
			<if test="id!=null">
				and id!=#{id}
			</if>
		</where>
	</select>
    <insert id="addXlVoucher" parameterType="XlVoucher">
		insert into xl_voucher (id,name,price,flag,type,validate,vo_num,goodId,stipulate_price,create_user,update_user) values(null,#{name},#{price},#{flag},#{type},#{validate},#{voNum},#{goodId},#{stipulatePrice},#{createuser},#{updateuser});
	</insert>
	
    <insert id="addXlVoucherGood" parameterType="XlVoucher">
		insert into xl_voucher (select a.* from xl_voucher a,xl_good b where a.create_user=#{createuser} and b.id=#{goodId} and a.goodId=b.id);
	</insert>
	
    <update id="updateXlVoucher" parameterType="XlVoucher" >
		update xl_voucher a,xl_good b
		<set>
			<if test="name!=null and name!='' ">
				a.name=#{name}
			</if>
			<if test="price!=null and price!='' ">
				a.price=#{price},
			</if>
			<if test="flag!=null and flag!='' ">
				a.flag=#{flag},
			</if>
			<if test="type!=null and type!='' ">
				a.type=#{type},
			</if>
			<if test="validate!=null and validate!='' ">
				a.validate=#{validate},
			</if>
			<if test="vo_num!=null and vo_num!='' ">
				a.vo_num=#{voNum},
			</if>
			<if test="goodId!=null and goodId!='' ">
				b.id=#{goodId},
			</if>
			<if test="stipulate_price!=null and stipulate_price!='' ">
				a.stipulate_price=#{stipulatePrice},
			</if>
				a.update_user=#{updateuser}
		</set>
		where a.id=#{id} and a.goodId = b.id
	</update>
	
    <delete id="deleteXlVoucher" parameterType="Integer">
	    delete from xl_voucher where id=#{id};
	</delete>

</mapper> 	